body {
	margin: 0;
	color: #fff;
}

/*START HEADER*/

header {
	position: relative;
	background: url("../images/black-orchid.png") repeat #2F2F2F;
	height: 300px;
}

.head {
	width: 100%;
	height: 80px;
	background-color: #0c0c0c;
	opacity: 0.6;
}

.logo {
	position: absolute;
	top: 10px;
	left: 20%;
	font-size: 48px;
}

.logo i {
	color: #fff;
	font-size: 48px;
	margin-right: 20px;
	transition: 1s;
}

.logo:hover i {
	transform: rotate(360deg);
}

/*END HEADER*/

/*START FORM*/
.auth {
	width: 60%;
	margin-left: 20%;
	margin-top: 40px;
}

.auth hr {
	margin: 20px 0; 
}

.auth form {
	width: 60%;
	margin-left: 20%;
}

.auth input {
	border-radius: 6px;
	padding: 10px;
	border: none;
}

.auth input + input {
	margin-left: 10%;
}

.submit-btn {
	float: right;
}

/*END FORM*/

.connect-btn {
	background-color: #5C5C5C;
	color: #AFAFAF;
	text-shadow: -1px -1px #000,
               0 1px 0 #444;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
}

.connect-btn i {
	font-weight: bold;
}